@{
    ViewData["Title"] = "Integra1 Eventos";
}

<html>
<head>

    <link rel="stylesheet" href="~/css/banner.css" />
    
</head>

<body>
    <div>
        <br /><br /><br />
        <h1>Es momento de celebrar</h1>
        <br /><br />
        <h2>Cotiza con nosotros y recibe las mejores ofertas!</h2>
        <br /><br /><br /><br /><br />
    </div>
    <form action="Clientes/Create">
        <button name="send" id="button" type="submit" i><span>Solicita una cotización</span></button>
    </form>
    <br /><br /><br /><br /><br /><br /><br />
    

</body>

</html>